<div>
    <h3>{{title}}</h3>
    <div class="well text-center" data-ng-hide="action.length('{{modelName}}')">
        <button type="button" class="btn btn-primary " data-ng-click="action.insert('{{modelName}}')">
            <span class="glyphicon glyphicon-plus"></span>
            Insert {{title}}
        </button>
    </div>
    <div data-ng-show="action.length('{{modelName}}')">
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-xs" data-ng-click="action.insert('{{modelName}}')">
                <span class="glyphicon glyphicon-plus"></span>
                Insert
            </button>
            <button type="button" class="btn btn-danger btn-xs"
                    data-ng-click="action.delete('{{modelName}}')"
                    data-ng-disabled="!action.deleteEnabled('{{modelName}}')">
                <span class="glyphicon glyphicon-trash"></span>
                Delete
            </button>
            <button type="button" class="btn btn-xs"
                    data-ng-click="action.previous('{{modelName}}')"
                    data-ng-disabled="current.sets.{{modelName}}.currentIndex == 0">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Previous
            </button>
            <button type="button" class="btn btn-xs"
                    data-ng-click="action.next('{{modelName}}')"
                    data-ng-disabled="current.sets.{{modelName}}.currentIndex == current.sets.{{modelName}}.rows.length - 1">
                Next
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <button type="button" class="btn btn-default btn-xs" data-ng-click="PageCursor.sections.{{id}}.viewMode = 'multiple'"
                    data-ng-show="PageCursor.sections.{{id}}.viewMode !== 'multiple'">
                <span class="glyphicon glyphicon-th"></span>
                Table
            </button>
            <button type="button" class="btn btn-default btn-xs" data-ng-click="PageCursor.sections.{{id}}.viewMode = 'single'"
                    data-ng-show="PageCursor.sections.{{id}}.viewMode !== 'single'">
                <span class="glyphicon glyphicon-file"></span>
                Form
            </button>
    <span class="instance-count">
        <span data-ng-bind="current.sets.{{modelName}}.currentIndex + 1"></span> of <span
            data-ng-bind="current.sets.{{modelName}}.rows.length"></span>
    </span>
        </div>

        <div class="" data-ng-if="PageCursor.sections.{{id}}.viewMode === 'multiple'">
            <!--<div class="tantalim-grid" ng-grid="PageCursor.views.{{id}}.gridOptions"></div>-->

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        {{#listFields}}
                        <th>{{fieldLabel}}</th>
                        {{/listFields}}
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="row in current.sets.{{modelName}}.rows"
                        data-ng-click="action.select('{{modelName}}', $index)"
                        data-ng-class="{success: row.id === current.instances.{{modelName}}.id}">
                        {{#listFields}}
                        <td class="text-display">
                            <span class="text-view" data-ng-bind="row.data.{{fieldName}}"></span>
                            <input type="text" class="text-edit" data-ng-model="row.data.{{fieldName}}">
                        </td>
                        {{/listFields}}
                    </tr>
                    <tr data-ng-hide="current.sets.{{modelName}}.rows.length">
                        <td colspan="{{listFields.length}}">No Data Found</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <form role="form" data-ng-if="PageCursor.sections.{{id}}.viewMode === 'single'">
            <div class="row">
                {{#if splitFields}}
                <div class="col-sm-3 hidden-xs">
                    <table class="table table-bordered col-sm-4">
                        <thead>
                        <tr>
                            {{#splitFields}}
                            <th>{{fieldLabel}}</th>
                            {{/splitFields}}
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="row in current.sets.{{modelName}}.rows"
                            data-ng-click="action.select('{{modelName}}', $index)"
                            data-ng-class="{success: row.id === current.instances.{{modelName}}.id}">
                            {{#splitFields}}
                            <td data-ng-bind="row.data.{{fieldName}}" class="nav"/>
                            {{/splitFields}}
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-9">
                    {{> html_view_single}}
                </div>

                {{else}}
                <div class="col-xs-12">
                    {{> html_view_single}}
                </div>
                {{/if}}

            </div>
        </form>

        {{#children}}
        <div style="padding-left: 15px">
            {{> html_view}}
        </div>
        {{/children}}
    </div>
</div>