<div id="{{id}}" data-ng-show="visibleView == '{{id}}'">
    <div class="page-nav navbar navbar-inverse navbar-fixed-bottom">
        <a href="#/search" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
            Search View</a>
        <button data-ng-click="refresh()" class="btn btn-default">
            <span class="glyphicon glyphicon-refresh"></span>
            Refresh
        </button>
        <button data-ng-click="save()" class="btn btn-success" data-ng-disabled="!ModelCursor.dirty">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Save
        </button>
    </div>

    {{> html_view }}
</div>
{{#pages}}
{{> page}}
{{/pages}}
