<div id="form-view" data-ng-hide="searchMode()">
    <div class="page-nav navbar navbar-inverse navbar-fixed-bottom">
        <button data-ng-click="searchMode(true)" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
            Search View
        </button>
        <button data-ng-click="refresh()" class="btn btn-default">
            <span class="glyphicon glyphicon-refresh"></span>
            Refresh
        </button>
        <button data-ng-click="save()" class="btn btn-success" data-ng-disabled="!ModelCursor.dirty">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Save
        </button>
    </div>

    {{> html_view }}
</div>