<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="tantalim.desktop">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{title}}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/tantalim-client/public/css/common.css">
    {{#if css}}
    <link rel="stylesheet" href="{{ css }}">
    {{/if}}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
{{> menu}}
<section class="content container">
    {{#columns}}
    <div class="dashboardColumn {{cssClasses}}">
        {{#widgets}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{#if glyphicon}}<span class="glyphicon glyphicon-{{glyphicon}}" aria-hidden="true"></span>{{/if}}
                    {{{title}}}
                </h3>
            </div>
            <div class="panel-body text-center">{{{content}}}</div>
        </div>
        {{/widgets}}
    </div>
    {{/columns}}
</section>

<!-- Bootstrap JS -->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
