<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="tantalim.desktop">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{page.title}}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if page.favicon}}
    <link href="{{page.favicon}}" rel="shortcut icon" type="image/x-icon">
    {{/if}}

    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/tantalim-client/public/select/select.css">
    <link rel="stylesheet" href="/bower_components/angular-grid/ng-grid.min.css">
    <link rel="stylesheet" href="/bower_components/tantalim-client/public/css/common.css">
{{#if page.css}}
    <link rel="stylesheet" href="{{ page.css }}">
{{/if}}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body data-ng-controller="PageController">
{{> menu}}
<div id="loading" class="text-center" data-ng-show="showLoadingScreen">
    <div id="loadingMessage" class="col-sm-8 col-sm-offset-2">
        <h1>
            <i class="fa fa-spinner fa-spin" data-ng-hide="serverError"></i>
            Loading {{page.title}}
        </h1>
        <div class="alert alert-danger ng-hide" data-ng-show="serverError" data-ng-bind-html="serverError"></div>
        <button class="btn btn-default ng-hide" data-ng-show="serverError" data-ng-click="showLoadingScreen = false">
            <i class="fa fa-times"></i>
            Close
        </button>
    </div>
</div>
<section class="content container ng-hide" data-ng-hide="showLoadingScreen">
    <div id="page-body">
        <div id="server-status" class="alert alert-warning" data-ng-show="serverStatus" data-ng-bind="serverStatus"></div>
        <div id="server-error" class="alert alert-danger" data-ng-show="serverError" data-ng-bind-html="serverError"
             data-spy="affix-bottom"></div>
            <h3>{{page.title}}</h3>
        {{> page page}}
        {{> search page}}
        <a href="/m/{{page.name}}/#/" class="btn btn-primary visible-xs col-xs-10 col-xs-offset-1">
            <span class="glyphicon glyphicon-phone"></span>
            Mobile Version
        </a>
    </div>
</section>

<!-- Bootstrap JS -->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- Angular JS -->
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>

<script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
<!-- Angular UI -->
<script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script type="text/javascript" src="/bower_components/angular-ui-utils/ui-utils.js"></script>
<script type="text/javascript" src="/bower_components/tantalim-client/public/select/select.js"></script>

<!-- Other JS -->
<script type="text/javascript" src="/bower_components/lodash/lodash.js"></script>
<!-- Tantalim JS -->
<script type="text/javascript" src="/bower_components/tantalim-client/public/js/tantalim.desktop.js"></script>
<script type="text/javascript">
    angular.module('tantalim.common').factory('PageDefinition', function () {
        return {
            user: {{{json user}}},
            page: {{{json page}}}
        };
    });
</script>
</body>
</html>
